doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="admin_dashboard.css" 
      rel="stylesheet"
      )
    title Admin manage printers
  body
    .banner
      .navbar
        img(
          alt="" 
          src="Pictures/LogoSPSS-removebg.png"
          )
        ul
          li
            a(href="index.html") Home
          li
            a(href="index.html") Service
          li
            a(href="admin_manage_printer.html") All machines
          li
            a(href="#") Contact
          li
            a(href="#") Home
          li#account
            a(href="#")
              i.bx.bx-user
      .container
        .header
          .nav
        .content
          .cards
            .content-2
              .print-history
                .title
                  h2 Lịch sử in ấn
                  a.btn(href="#") Xem tất cả
                table
                  tbody
                    tr
                      th Mã in
                      th Ngày in
                      th Nơi thực hiện
                      th Option
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
                    tr
                      td 1111111
                      td 25/02/2025
                      td H1-104
                      td
                        a.btn(href="#") View
              .new-students
                .title
                  h2 Printers
                table
                  tbody
                    tr
                      th Printer
                      th Vị trí
                      th Lựa chọn
                    tr
                      td
                        img(
                          alt="" 
                          src="Pictures/printer.png"
                          )
                      td H1-104
                      td
                        select
                          option enable
                          option disable
                    tr
                      td
                        img(
                          alt="" 
                          src="Pictures/printer.png"
                          )
                      td H1-104
                      td
                        select
                          option enable
                          option disable
                    tr
                      td
                        img(
                          alt="" 
                          src="Pictures/printer.png"
                          )
                      td H1-104
                      td
                        select
                          option enable
                          option disable
                    tr
                      td
                        img(
                          alt="" 
                          src="Pictures/printer.png"
                          )
                      td H1-104
                      td
                        select
                          option enable
                          option disable
          .search
            input(
              placeholder="Search.." 
              type="text"
              )
            button(type="submit")
              a(href="#")
                img(
                  alt="" 
                  src="Pictures/search.png"
                  )
    footer.footer
      .footer-logo
        img(
          alt="Logo" 
          src="Pictures/01_logobachkhoatoi.png"
          )
      .footer-contact
        p Cơ sở Lý Thường Kiệt: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM
        p
          | Cơ sở Dĩ An: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình
          |   Dương
        p Email: contact@website.com
        p Điện thoại: +84 123 456 789
      .footer-copyright
        p © Bản quyền thuộc Trường Đại học Bách khoa - ĐHQG-HCM