doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="print_setting.css" 
      rel="stylesheet"
      )
    script(
      defer="" 
      src="print_setting.js"
      )
    title Cài đặt In
  body
    .banner
      .navbar
        img(
          alt="" 
          src="Pictures/LogoSPSS-removebg.png"
          )
        ul
          li
            a(href="index.html") Trang chủ
          li
            a(href="index.html") Dịch vụ
          li
            a(href="admin_manage_printer.html") Các máy in
          li
            a(href="#") Liên hệ
          li
            a(href="#") Home
          li#account
            a(href="#")
              i.bx.bx-user
      .container
        //
          <div class="header">
           <div class="nav">
           <h2>Cài đặt trang in</h2>
           </div>
           </div>
        .content
          .cards
            .content-2
              .setting-selection
                .title
                  h2 Cài đặt
                div
                  form#uploadFileForm
                    .file-upload-section
                      h3 Chọn tệp tải lên:
                      input#fileInput(
                        name="file" 
                        type="file"
                        )
                      button#uploadFileButton(type="button") Upload File
                      p#fileStatus Chưa tải tệp.
                form#printForm
                  //
                    <div class="file-upload-section">
                     <h3>Chọn tệp tải lên:</h3>
                     <input type="file" id="fileInput" name="file" />
                     </div>
                  .printer-section
                    h3 Printer
                    .printer-dropdown
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="printer")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn máy in (Mặc định)
                        option(value="location1") Vị trí 1
                        option(value="location2") Vị trí 2
                  .page-section
                    h3 Copies:
                    input(
                      value="1" 
                      name="copies" 
                      placeholder="Nhập số bản cần in" 
                      type="number"
                      )
                  .settings-section
                    h3 Cài đặt:
                    .setting-option
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="duplex")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn kiểu in (Mặc định)
                        option(value="2-sided") In 2 mặt
                        option(value="1-sided") In 1 mặt
                    .setting-option
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="paperType")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn loại giấy (Mặc định)
                        option(value="A3") Giấy A3
                        option(value="A4") Giấy A4
                    .setting-option
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="collation")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn kiểu Collated (Mặc định)
                        option(value="collated") Collated
                        option(value="uncollated") Uncollated
                    .setting-option
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="orientation")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn kiểu hướng giấy (Mặc định)
                        option(value="portrait") Portrait Orientation
                        option(value="landscape") Landscape Orientation
                    .setting-option
                      img.icon(
                        alt="Printer Icon" 
                        src="./Pictures/edit.png"
                        )
                      select(name="paperSize")
                        option(
                          selected="" 
                          value="default"
                          ) Chọn kích cỡ giấy (Mặc định)
                        option(value="letter") Letter
                        option(value="legal") Legal
                    .submit-section
                      button#submitButton(type="submit") In
              div(class="print_setting")
                .title
                  h2 REPORT.PDF
                .page-preview
                  h2 REPORT.PDF
                  img(
                    alt="" 
                    src="Pictures/LogoSPSS-removebg.png"
                    )
                div(class="page_control")
                  button prev
                  span.page-number 1 of 30
                  button next
    footer.footer
      .footer-logo
        img(
          alt="Logo" 
          src="Pictures/01_logobachkhoatoi.png"
          )
      .footer-contact
        p Cơ sở Lý Thường Kiệt: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM
        p
          | Cơ sở Dĩ An: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình
          |   Dương
        p Email: contact@website.com
        p Điện thoại: +84 123 456 789
      .footer-copyright
        p © Bản quyền thuộc Trường Đại học Bách khoa - ĐHQG-HCM